<a href="https://colab.research.google.com/github/pawan-cpu/ENDURO_Python/blob/main/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries
1. unordered collection of key and value pairs (no indexing)
2. no two keys can be same

Creating dictionaries

In [ ]:
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [ ]:
bio_data = {'Name': 'Bob Marley', 'Age':35, 'Height':"5.6 ft", 'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [ ]:
credentials = { 'UserA' : 'wkliopnc' , 'UserB': 98760 , 'UserC' :98760 }

accessing values

In [ ]:
hobby = bio_data['Hobby']
print(hobby)

Music

In [ ]:
age = bio_data['Age']
print(age)

p = bio_data['School']

In [ ]:
age = bio_data.get('Age')
print(age)

None

In [ ]:
profession  =  bio_data.get('Age','NA')
print(profession)

35

In [ ]:
bio_data['Age'] = 36
print(bio_data)

{'Name': 'Bob Marley', 'Age': 36, 'Height': '5.6 ft', 'Hobby': 'Music'}

Inserting key value pairs

In [ ]:
#add a key, val
bio_data['Profession'] = 'Singer'
print(bio_data)

In [ ]:
print('Profession' in bio_data)

getting keys, value and key-value pairs

In [ ]:
#get list of keys
print(list(bio_data.keys()))

#get list of values
print(list(bio_data.values()))

another way to create dictionary

In [ ]:
new_dictionary = dict(Country='Jamaica', Songs=['One Love','Misty Morning'])

update method

In [ ]:
bio_data.update(new_dictionary)
print(bio_data)

deleting from dictionary

In [ ]:
del bio_data['Songs']
print(bio_data)

In [ ]:
students_data = { 1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27]}

In [ ]:
print(len(students_data))

5

In [ ]:
#see all the details of students. 
print(list(students_data.values()))

In [ ]:
students_data[6] = ['Manasi Sharma', 22]
print(students_data)

In [ ]:
del students_data[2]
print(students_data)

In [ ]:
print(list(students_data.keys()))