<a href="https://colab.research.google.com/github/pawan-cpu/ENDURO_Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def scream():
    print('Hello World')
scream()

Hello World

In [ ]:
def square(num):
    out = num**2
    return(out)

In [ ]:
sq_3 = square(3)
print(sq_3)

9

In [ ]:
def square(num):
    out = num**2
    print(out)

In [ ]:
q = square(4)
print(q)
print("Q is"+str(q))

16
None
Q isNone

In [ ]:
## recursion 

## base case first
## repeat function

def factorial(n):
    if n==0 or n==1:
      return 1
    else:
        return n*factorial(n-1)
fact = factorial(5)
#5*factorial(4)
#5*4*factorial(3)
#5*4*3*factorial(2)

#5*4*3*2*1

print(factorial(5))

120

In [ ]:
def addition(*args):
    print(args, type(args))

addition(2, 3)

In [ ]:
def squaremyage(age):
  return age**2

In [ ]:
output=squaremyage(squaremyage(31))
print(output)

923521

In [ ]:
def addition(*args):
    print(args)
    print(type(args))
    sum=0
    for num in args:
      sum+=num
    return(sum)

In [ ]:
print(addition(4,5,6,7,8,9,10,11))
print(addition(1,2))

(4, 5, 6, 7, 8, 9, 10, 11)
<class 'tuple'>
60
(1, 2)
<class 'tuple'>
3

In [ ]:
## define myself
#name,age,Adaarcard
def definemyself(name,age=31,adhaarId='1234 1234'):
  print(name,age,adhaarId)

print(definemyself('abhishek'))

abhishek 31 1234 1234
None

In [ ]:
def describeaperson(**parameters):
  for (key,value) in parameters.items():
    print(key,value)


describeaperson(name='abhishek', age=31, adhaarId='1234 1234',panNo='134 123')

name abhishek
age 31
adhaarId 1234 1234
panNo 134 123

In [ ]:
def square(*args):
  return [arg**2 for arg in args]
print(square(1,2,3,4))

[1, 4, 9, 16]

In [ ]:
def total_fruits(**fruits):
    total = 0
    for amount in fruits.values():
        total += amount
    return total


print(total_fruits(banana=5, mango=7, apple=8))

In [ ]:
def proper(some_text):
    some_text = some_text.strip()
    some_text = " ".join([word[0].upper() + word[1:] for word in some_text.split()])
    return some_text

captain = proper("mahendra singh dhoni")
print(captain)

Mahendra Singh Dhoni

In [ ]:
string_to_list = lambda x: x.split()
print(string_to_list(captain))
print(type(string_to_list))

['Mahendra', 'Singh', 'Dhoni']
<class 'function'>

In [ ]:
product = lambda x, y : x*y
print(product(3,4))

12

Lambda is anonymous funcion

In [ ]:
def min(a,b):
  return a if a<b else b
min2 = (lambda x, y: x if x < y else y)

print(min(101*99, 102*98))
print(min)
print(min2)

9996
<function min at 0x7f4296e5cc20>
<function <lambda> at 0x7f4296e5ccb0>

In [ ]:
x=10
y=20
greater=lambda x,y: x if x>y else y

print(greater(x,y))

20