<a href="https://colab.research.google.com/github/pawan-cpu/ENDURO_Python/blob/main/Introduction_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Welcome to the course on Python

In [ ]:
print("This is my first line of code in python")

This is my first line of code in python

### topics to cover:

1. Print
2. Escape Sequence
3. Python as calculator
4. Variables
5. Printing and Formatting
6. Slicing

In [ ]:
print("Hello\nThis is in the next line")

Hello
This is in the next line

In [ ]:
print("This is my first line\n This is my second line")

This is my first line
 This is my second line

In [ ]:
print("this is \" a test")

this is " a test

In [ ]:
print("this is \\n a test")

this is \n a test

"This is my first line\n This is my second line"[link text](https://)

In [ ]:
print("This is my first line\\n This is my second line")

This is my first line\n This is my second line

In [ ]:
print("This is my first line \ This is my second line")

This is my first line \ This is my second line

The escape character in python is "\\"

> Indented block

In [ ]:
print("This is my first line\tThis is my second line")

This is my first line	This is my second line

In [ ]:
### \\n/\/\/
print('\\\\n/\/\/')

\\n/\/\/

In [ ]:
a=10;  # integer
b='abhishek' ## string
c=20.0 ## float
print(a,b,c)

10 abhishek 20.0

In [ ]:
a=b
print(a)
type(a)

abhishek

str

In [ ]:
a = 6
b = 7

print(a + b)  # 13

print(a - b) # -1
print(a * b) # 42
print(a / b) # 
print(a // b) ## floor of the quotient
print(a % b) ## modulo operator
print(a ** b) ## exponent

13
-1
42
0.8571428571428571
0
6
279936

In [ ]:
a=5
b=2
c=3

print(a**b**c)
print(b**c)

d=b**c
e= a**d

print(d)
print(e)

390625
8
8
390625

In [ ]:
print(5*4+2)

In [ ]:
import math
a=6
b=7
print(math.ceil(a/b))

1

In [ ]:
#BEDMAS
print(4 * 5 - 9 + 6 / 7)

In [ ]:
inc = 9
inc += 1
inc=inc+1
print(inc)
inc -= 1
inc = inc-1
print(inc)

11
9

In [ ]:
a = 'this is my string'
print(a[0]+a[1]+a[2])
print(a[-3]+a[-2]+a[-1])

thi
ing

In [ ]:
a = '1234'
print(len(a))
try:
  print(7/0)
except IndexError:
  print('Index error')
except:
  print('generic error')

4
generic error

In [ ]:
#Logical
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)


      OR AND
0 0   0   0
1 0   1   0
0 1   1   0
1 1   1   1

In [ ]:
 a=True
b=not False
print(a and b)

if True and not False:
  print ('i am attending')

True
i am attending

In [ ]:
print(3 < 1)

False

In [ ]:
if (3<1):
  print('i am attending the class')
else:
  print('i have something more urgent')

i have something more urgent

In [ ]:
small = "i am upper cased"
print(small.upper())

large = "I AM LOWER CASED"
print(large.lower())

I AM UPPER CASED
i am lower cased

In [ ]:
some_sentence = "    There is a space at the end    \t"
print(some_sentence)
print(some_sentence.rstrip())
print(some_sentence.lstrip())
print(some_sentence.strip())

    There is a space at the end
    There is a space at the end
There is a space at the end
There is a space at the end

In [ ]:
increment = '4%'
print(increment.rstrip('%'))

4

In [ ]:
start = "   There is space at the start"
print(start)
print(start.lstrip())

In [ ]:
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

In [ ]:
num_with_chars = '*444# #'
print(num_with_chars.rstrip('#').lstrip('*'))

444#

In [ ]:
val = "2 apples"
no_of_apples = val[1:] ## indexing
print('number of apples is', no_of_apples)
print(val[2])
val[-2]

number of apples is 2
a

'e'

In [ ]:
what = val[1:6]
print(what)

 appl

In [ ]:
val = "2 apples are there"
what = val[1:8:2]
print(what)

 pls

In [ ]:
#slicing by specifying start and end index
print(val[2:5])

In [ ]:
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

In [ ]:
print(batch[ :-2])

In [ ]:
animals = batch[10:-2]
print(animals)

In [ ]:
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [ ]:
odd_nums = nums[0::2]
print(odd_nums)

In [ ]:
odd_nums_again = nums[ :: 2]

In [ ]:
first_name = "Monty"
last_name = 'Python'

In [ ]:
name = first_name  + last_name
print(name)

MontyPython

In [ ]:
age = 30
print(type(age))
my_age = ("I am "+ str(age) + " years old")
print(my_age)

<class 'int'>
I am 30 years old

In [ ]:
My_age = "I am {0} years old".format(age)

In [ ]:
A = "Data"
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))
print(f"{A} {B} using {C}")
print(str(A) +" "+ str(B)+  " using "+str(C))
print(A +" "+ B+  " using "+C)

Data Analysis using Pandas
Data Analysis using Pandas
Data Analysis using Pandas
Data Analysis using Pandas

In [ ]:
#concat and update
name += ' ' + my_age
print(name)