<a href="https://colab.research.google.com/github/pawan-cpu/ENDURO_Python/blob/main/Looping_For_While.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

in keyword summary with example

In [ ]:
a="kushal"
if 'e' in a:
  print("exist")
else:
  print("not exist")

DRY Principle - Do Not Repeat Yourself

In [ ]:
for va in range(5,11):
    print(va)

In [ ]:
for i in range(1,10,2):
    print(i)

In [ ]:
#Looping on a string

my_string = "Mary had a little lamb"

for alphabet in my_string:
  if alphabet!=' ':
    print(alphabet,end="")

Maryhadalittlelamb

In [ ]:
#pattern to print-

* - 0
* * - 1
* * * -2 
* * * * -3
* * * * * -4 
* * * * - 5
* * * -6
* * -7
* -8

In [ ]:
str1=''
for i in range(0,9):
    if i<5:
        str1 += '* '
        print(str1)
    elif i>4:
        str1 = str1[:-2]
        print(str1)




#str1=''
#i=0   str1=*_
#i=1   str1=*_*_
#i=2   str1=*_*_*_
#i=3   str1=*_*_*_*_
#i=4   str1=*_*_*_*_*_

#i=5   str1=*_*_*_*_
#i=6   str1=*_*_*_
#i=7   str1=*_*_

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

STRING SLICING Example to understand

In [ ]:
a="kushal"[:-3]
print(a)

kus

In [ ]:
my_string = "Mary had a little lamb"

for n,alphabet in enumerate(my_string,-3):
    print(alphabet, n)

In [ ]:
vowels =''
for alphabet in my_string:
    if alphabet in 'aeiou':
        vowels += ' ' + alphabet
        
print(vowels)

 a a a i e a

In [ ]:
nums = '838848237890237388221'
all_even=''
all_odd = ''
for number in nums:
    if int(number)%2 == 0:
        all_even += number
    else:
        all_odd += number

print('All Evens are : '+ all_even + ' & All odds are : '+ all_odd)

In [ ]:
list_of_inventories = ['Apple', 'Banana', 'Potato', 'Mango', 'Onion', 'Toothpaste']
fruits = ['Apple','Banana','Mango','Orange','Strawberry']
vegetables = ['Potato', 'Onion','Cucumber', 'Celery']

In [ ]:
#count of fruits in inventory list
count_fruits = 0
#count of vegetables in inventory list
count_veg = 0
for item in list_of_inventories:
    print(item)
    if item in fruits:
        count_fruits+=1
    elif item in vegetables:
        count_veg +=1
    else:
        continue
print(count_fruits)
print(count_veg)

Apple
Banana
Potato
Mango
Onion
Toothpaste
3
2

In [ ]:
sentence = "Is Python simpler than R ?"

for word in sentence.split(" "):
    print(word)

Is
Python
simpler
than
R
?

In [ ]:

#sentence check
tweet = '#beautiful #morning it is looking good'

for word in tweet.split():
    if word.startswith('#'):
        print(word[1:])

beautiful
morning

In [ ]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [ ]:
for key, val in students_data.items():
    print(key, val)

1 ['Shivam Bansal', 24]
2 ['Udit Bansal', 25]
3 ['Sonam Gupta', 26]
4 ['Saif Ansari', 24]
5 ['Huzefa Calcuttawala', 27]

In [ ]:
for key in students_data.keys():
    print(key)

In [ ]:
for val in students_data.values():
    print(val)

In [ ]:
count = 0
for key, val in students_data.items():
    if val[1]<25:
        count+=1

print(count)

In [ ]:
#while loop

start = 20
while start<51:
    print(start)
    start+=1

In [ ]:
for i in range(1,6):
    if (i % 3 == 0):
         break
         print("divisible")
       

    print(str(i) + " is not divisible by 3")

print("hello")

1 is not divisible by 3
2 is not divisible by 3
hello

In [ ]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        pass

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3
3 is not divisible by 3
4 is not divisible by 3
5 is not divisible by 3

In [ ]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello